.cart-heading {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
    color: #1D1F22;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #E5E5E5;
    ;
}

.total-costing {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 24px;
}

.total-amount {
    font-weight: 500;
}

.place-order-btn {
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    width: 279px;
    height: 43px;
    background: #5ECE7B;
    border: none;
    margin-bottom: 200px;
}