.category-name {
    font-weight: 400;
    font-size: 42px;
    margin: 85px 0;
}

.products {
    margin: 50px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px 65px;
}

/* Responsive styles */

@media only screen and (max-width: 950px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 576px) {
    .products {
        grid-template-columns: repeat(1, 1fr);
    }
}