.card {
    padding: 15px;
}

.card:hover {
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.card:hover .green-cart-icon{
    display: block;
}

.card>.card-image {
    position: relative;
}

.green-cart-icon {
    position: absolute;
    width: 52px;
    height: 52px;
    filter: drop-shadow(0px 4px 11px rgba(29, 31, 34, 0.1));
    bottom: -26px;
    right: 15px;
    display: none;
}

.card-image {
    width: 100%;
    height: 338px;
    object-fit: cover;
    object-position: top;
}

.product-name {
    font-weight: 300;
    font-size: 18px;
}

.product-price {
    font-weight: 500;
    font-size: 18px;
}