.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #E5E5E5;
    ;
}

.product-brand-in-cart {
    margin-top: 0px;
}

.quantity-and-preview-image {
    display: flex;
    align-items: center;
}

.item-quantity {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 100%;
    margin: 0 20px;
}

.item-quantity {
    font-family: 'Raleway';
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.item-quantity>button {
    height: 45px;
    width: 45px;
    font-size: 45px;
    background: none;
    border: 1px solid #1D1F22;
    line-height: 0px;
    font-weight: 100;
}

.cart-item-image {
    height: 300px;
    width: 200px;
    position: relative;
}

.cart-item-image>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.next-previous-buttons {
    position: absolute;
    bottom: 30px;
    right: 10px;
}

.next-previous-buttons>button {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    height: 24px;
    width: 24px;
    line-height: 1px;
    margin-right: 10px;
    border: none;
}



/* Styles for minicart */

.product-info-mini {
    width: 180px !important;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    border-bottom: 1px solid #E5E5E5;
}

.product-brand-in-cart-mini, .product-name-mini {
    font-size: 16px !important;
    font-weight: 300;
    line-height: 160%;
    margin: 0 !important;

}

.price-mini {
    display: none;
}

.amount-mini {
    margin: 0;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin: 0 !important;
}

.others-mini {
    font-family: 'Raleway' !important;
    font-weight: 400 !important;
    font-size: 14px !important;
}

.quantity-mini {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

.other-attributes-mini>button {
    width: auto !important;
    height: 34px !important;
    font-weight: 400;
    font-size: 14px !important;
}

.color-attributes-mini>button {
    width: 16px !important;
    height: 16px !important;
}

.color-attributes-mini>button:hover::before, .selected-color-attribute-mini::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px !important;
    height: 20px !important;
    background: none;
    border: 0.5px solid #5ECE7B;
}

.item-quantity-mini>button {
    height: 24px;
    width: 24px;
    font-size: 28px;
}

.quantity-and-preview-image-mini {
    display: flex;
    align-items: center;
}


.cart-item-image-mini {
    height: 190px;
    width: 120px;
    position: relative;
}

.next-previous-buttons-mini {
    display: none;
}