.header {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryBtn {
    background: none;
    border: none;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}

.active {
    color: #5ECE7B;
    font-weight: 600;
    border-bottom: 2px solid #5ECE7B;
}

.headerLogo {
    padding: 20px;
}

.CartAndCurrency {
    width: 235px;
    display: flex;
    justify-content: center;
}

.currencyDropDown {
    position: relative;
}

.currencyDropDownBtn>img {
    width: 16px;
}

.currencies {
    position: absolute;
    z-index: 10;
    top: 50px;
    width: 114px;
    height: auto;
    padding: 20px 0 20px 0;
    background-color: white;
    filter: drop-shadow(0px 4px 35px rgba(168, 172, 176, 0.19));
}

.currencyBtn {
    display: block;
    background: none;
    width: 114px;
    height: 45px;
    border: none;
    cursor: pointer;
}

.currencyBtn:hover {
    background: #EEEEEE;
}

.cartBtn, .currencyDropDownBtn {
    background: none;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
}

.cart-length {
    color: white;
    font-size: 14px;
    text-align: center;
    line-height: 18px;

    position: absolute;
    height: 18px;
    width: 18px;
    background-color: black;
    
    border-radius: 20px;
    top: -20px;
    right: -1px;
}

.cart-icon {
    position: relative
}

.cart-holder {
    width: 325px;
    position: absolute;
    top: 40px;
    background-color: white;
    right: 0;
    z-index: 100;
    padding: 10px;
}

.cart-dark-bg {
    height: 100vh;
    width: 100vw;
    top: 67px;
    background-color: rgba(0, 0, 0, 0.131);
    position: absolute;
    z-index: 50;
    right: 0;
}